.container{background-image:url(/practicals/basichtml/secondhandcarforsell/new-tata-nexon-petrol-review.webp); 
    background-repeat: no-repeat;
    width: 10000px;
    height: 600px;
    margin-left: 300px;
} 
.left-div{
    margin-left: 50px;
    background-color: white;
    width: 300px;
    height: 300px;
}
.new-car{
    margin-left: 15px;
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
    border-style: solid; 
    width: 120px;
}
.used-car{
    margin-left: 150px;
    position: absolute;
    top: 295px;
    width: 130px;
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
}
.by-budget{
    margin-left: 40px;
    margin-top: 30px;
}
.by-model{
    margin-left: 170px;
    position:absolute;
    top: 385px;
}
.select-budget{
    border-style: groove;
    width: 250px;
    text-align: left;
    padding: 5px;
    margin-left: 20px;  
}
.all-vehicle-types{
    border-style: groove;
    width: 250px;
    text-align: left;
    padding: 5px;
    margin-left: 20px;
}